* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    background: rgba(243, 244, 248, 1);
    padding: 42px 0;
    margin-bottom: 60px;

}
.header_wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 230px;
    height: 48px;
    cursor: pointer;
    text-decoration: none;

}
.header_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_menu {
    width: 100%;
    max-width: 763px;
}
.header_menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header_menu_item {
    list-style: none;
    cursor: pointer;
}
.header_menu_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(51, 51, 51, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    
}
.mobile_header_menu_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(51, 51, 51, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
}
.header_button {
    border-radius: 14px;
    background: rgba(72, 133, 224, 1);
    max-width: 272px;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    


}


.mobile_menu_button {
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}


/*media*/


@media (max-width: 1480px) {
   .header_wrapper {
     max-width: unset!important;
     width: 95%!important;
   }
}

@media (min-width: 1150px) and (max-width: 1300px) {
    .header_logo {
        max-width: 200px!important;
        height: 40px!important;
    }
    .header_menu_link {
        font-size: 16px!important;
    }
    .header_menu {
        width: 100%;
        max-width: 570px!important;
    }
   .header_button {
        font-size: 16px!important;
        max-width: 250px!important;
         height: 44px!important;
    }
}


@media (min-width: 980px) and (max-width: 1150px) {
    .header_logo {
        max-width: 170px!important;
        height: 35px!important;
    }
    .header_menu_link {
        font-size: 14px!important;
    }
    .header_menu {
        width: 100%;
        max-width: 470px!important;
    }
    .header {
        padding: 32px 0!important;
        margin-bottom: 50px!important;
    }
    .header_button {
        font-size: 15px!important;
        max-width: 230px!important;
         height: 42px!important;
    }
}
@media (min-width: 901px) and (max-width: 980px) {
    .header_logo {
        max-width: 150px!important;
        height: 30px!important;
    }
    .header_menu_link {
        font-size: 12px!important;
    }
    .header_menu {
        width: 100%;
        max-width: 400px!important;
    }
    .header {
        padding: 32px 0!important;
        margin-bottom: 50px!important;
    }
    .header_button {
        font-size: 14px!important;
        max-width: 200px!important;
         height: 39px!important;
    }
}



@media (max-width: 900px) {
    .header_wrapper {
        justify-content: center!important;
        position: relative;
    }
    .header {
        padding: 20px 0!important;
        margin-bottom: 40px!important;
    }
    .mobile_menu_button {
        display: flex!important;
        position: absolute;
        left: 0;
        top: 8px;
    }
    .header_menu {
        display: none!important;
    }
    .header_button {
        display: none!important;
    }
}

.mobile_menu {
    width: 100%;
    height: 100%;
    background: rgba(243, 244, 248, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.mobile_menu_wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.mobile_menu_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F4F8;
    position: relative;
    padding: 20px;

}

.mobile_menu_close_button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 16px;
    top: 27px;
    
}

.mobile_menu_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    max-width: 230px;
    height: 48px;
}

.mobile_menu_logo img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.mobile_menu_content {
    width: 100%;
    background: #fff;
    padding: 40px 20px 150px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile_menu_menu_item {
    list-style: none;
    margin-bottom: 28px;
}


.mobile_menu_button_subscribe {
    border-radius: 14px;
    background: rgba(72, 133, 224, 1);
    width: 90%;
    height: 46px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    outline: none;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}


@media (min-width: 480px) and (max-width: 900px) {
    .mobile_menu_button svg {
        width: 40px;
        height: 40px;
    }
    .mobile_menu_close_button svg {
        width: 40px;
        height: 40px;
    }
   
}




@media (min-width: 375px) and (max-width: 768px) {
    .mobile_menu_header  {
        padding: 15px 16px!important;
    }
    .header {
        padding: 15px 0!important;
    }

    .mobile_menu_logo {
        max-width: 200px!important;
        height: 40px!important;
    }
    .header_logo {
        max-width: 200px!important;
        height: 40px!important;
   }
   .mobile_menu_button svg {
    width: 30px;
    height: 30px;
}
.mobile_menu_close_button svg {
    width: 30px;
    height: 30px;
}

}

@media (max-width: 375px) {
    .header {
        padding: 10px 0!important;
    }

    .mobile_menu_header  {
        padding: 10px 16px!important;
    }
    .header_logo {
        max-width: 170px!important;
        height: 35px!important;
   }
   .mobile_menu_logo {
    max-width: 170px!important;
    height: 35px!important;
}
   .mobile_menu_button svg {
    width: 26px;
    height: 26px;
}
.mobile_menu_close_button svg {
    width: 26px;
    height: 26px;
}

}

@media (min-width: 1378px) and (max-width: 1523px) {
    .header_menu_link {
        font-size: 15px!important;
    }
    .header_menu {
        max-width: 700px!important;
    }
}
@media  (min-width: 1267px) and (max-width: 1378px) {
    .header_menu_link {
        font-size: 14px!important;
    }
    .header_menu {
        max-width: 650px!important;
    }
    .header_button {
        font-size: 16px !important;
        max-width: 230px !important;
        height: 44px !important;
    }
}

@media (min-width: 1199px) and (max-width: 1267px) {
    .header_menu_link {
        font-size: 13px!important;
    }
    .header_menu {
        max-width: 600px!important;
    }
    .header_button {
        font-size: 15px !important;
        max-width: 215px !important;
        height: 42px !important;
    }
}

@media (min-width: 1110px) and (max-width: 1199px) {
    .header_menu_link {
        font-size: 12px!important;
    }
    .header_menu {
        max-width: 550px!important;
    }
    .header_button {
        font-size: 14px !important;
        max-width: 200px !important;
        height: 40px !important;
    }
}

@media (min-width: 1010px) and (max-width: 1110px) {
    .header_menu_link {
        font-size: 11px!important;
    }
    .header_menu {
        max-width: 500px!important;
    }
    .header_button {
        font-size: 13px !important;
        max-width: 190px !important;
        height: 38px !important;
    }
}

@media (max-width: 1010px) {
    .header_menu_link {
        font-size: 10px!important;
    }
    .header_menu {
        max-width: 450px!important;
    }
    .header_button {
        font-size: 12px !important;
        max-width: 180px !important;
        height: 36px !important;
    }
}